# Podstawowe biblioteki
numpy
pandas
scipy
matplotlib
pyyaml
joblib

# Chemoinformatyka
rdkit-pypi
openbabel

# Biblioteka uczenia maszynowego
torch==2.0.0
torchvision
torchaudio

# Analiza dynamiki molekularnej (opcjonalne)
MDAnalysis

# GPU i CUDA
torch==2.0.0+cu118 --index-url https://download.pytorch.org/whl/cu118
torch-geometric

# Parallelizacja
mpi4py
